body {
    font-family: 'Poppins', sans-serif;
    background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/047/476/original/beach1.jpg?1664838159");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    }
    
    h1 {
      color: white;
      font-size: 26px;
      font-weight: 500;
      line-height: 28px;
      margin-bottom: 0;
    }
    
    ul {
      margin: 0;
      padding: 0;
    }
    
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      color: white;
      /* color: rgb(135, 135, 135); */
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      
    }
    
    li:first-letter {
      text-transform: capitalize;
    }
  
    .weather-app-wrapper {
      max-width: 700px;
      background: rgba(255,255,255,0.1);
      box-shadow: 0 5px 15px rgba(0,0,0,0.5);
      border-radius: 10px;
      margin: 30px auto;
      margin-top: 100px;
      transition:0.5s;
    }
    .weather-app1 {
      position: absolute;
      left: 18px;
      top: 30px;
      border: 0.1rem solid white;
      padding: 1px 1px;
      border-radius: 10px;
      margin-top: -20px;
    }
    .weather-app1 img{
      padding: 2px 2px;
      border-radius: 10px;
    }
    
    .weather-app {
      padding: 20px;
      border: 1px solid #dadde1;
      border-radius: 10px;
    }
    .weather-app-wrapper:hover{
      background: rgba(25,0,0,0.3);
    }
    
    .overview {
      margin-bottom: 20px;
    }
    
    .weather-temperature img {
      margin-right: 5px;
      height: 66px;
      width: 66px;
    }
    
    .weather-temperature strong {
      color: rgb(253, 253, 253);
      font-size: 64px;
      line-height: 1;
      font-weight: 500;
    }
    
    .weather-temperature .units {
      position: relative;
      font-size: 30px;
      top: -30px;
      font-weight: 500;
      color: rgb(255, 255, 255);
    }
    
    .weather-temperature .active {
      color: rgb(2, 1, 1);
      cursor: default;
    }
    
    .weather-temperature .active:hover {
      text-decoration:none;
    }
    
    .weather-forecast {
      margin-top: 20px;
      text-align: center;
      color: #000;
      background-color: rgba(0,0,0,0.40);
      border: 1rem rgba(0,0,0,0.30);
      border-radius: 10px;
      
    }
    
    .weather-forecast-date {
      font-size: 16px;
      color: white;
      
    }
    
    .weather-forecast-temperature-min {
      opacity: 0.9;
    }
    
    .weather-forecast-temperatures {
      font-size: 13px;
      color: aliceblue;
    }
  .footer{
    text-align: center;
    color:white;
    margin-top: 20px;
    border: 0.1rem solid white;
    border-radius: 8px;
    
  }


 
  

